@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Bree+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding:120px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position:absolute;
    background: url('img/bg1\'.jpg') no-repeat center center/cover;
    height:102vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.9 ;
    margin-top: 0;
}
#home h1{
    text-align: center;
    color: white;
    font-family: 'Bree Serif', serif;
}
#home p{
    text-align: center;
    color: white;
    font-family: 'Bree Serif', serif;
}
#home .h-primary{
    padding-bottom: 0rem;
    color: black;
    -webkit-text-stroke: 0.000002em rgb(17, 0, 255);
    text-transform: uppercase;
}
/* #home .h-primary::before{
    content:attr(data-text);
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    color: rgb(15, 14, 14);
    -webkit-text-stroke: 0px rgb(12, 12, 12);
    border-right: 2px solid rgb(180, 109, 109);
    overflow:hidden;
    animation: xt 3s 1;
}
@keyframe xt{
    0%{
        color: white;
        margin-left: 10;
    }
    30%{
        letter-spacing: 30px;
        margin-bottom: 10px;
    }

} */
#home .h-secondary{
padding: 0.5rem; 
color:black;
}
#home p{
    font-weight: bold;
    color: black;
    /* font-size: 2em; */
    
}
#home .v::before{
    content: "";
    position:absolute;
    background: rgb(194, 183, 207);
    height:43%;
    width: 80%;
    z-index: -1;
    opacity: 0.5;
    margin-right: -103px;
    margin-left: -583px;
}
#home button{
    background-color: blue;
    color:white;
    /* margin-bottom: 25vh; */
}
/* perks section  */
#perks::before{
    content: "";
    position:absolute;
    background:url(img/m.png) no-repeat center center/cover;
    height:153vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.9;
    margin-top: 1.5vh;
    /* box-sizing: border-box; */
}
#perks .m{
    display:flex;
}
#perks .p::before{
    content: "";
    position:absolute;
    background:white;
    height:38vh;
    width: 22vw;
    z-index: -1;
    opacity: 0.4;
    margin-top: 21vh;
    margin-left: 12vw;
}
#perks .h-primary{
    margin-top: 12vh;
    font-size: 3em;
    margin-left:4vw;
}
#perks li{
    color: rgb(7, 6, 6);
    font-size:1.3em;
    /* margin-top:2vh; */
    margin-bottom:3vh;
    margin-left: 30vh;
    font-weight: bold;
}

#perks img{
    width: 25%;
    display: inline-block;
    margin-left:40vw;
    border-radius: 1em;
    /* margin-top:3vh; */
}
#perks ul{
    display:inline-block;
    margin-bottom: 20vh;
}
/* Do section */
/* #do::before{
    content: "";
    position:absolute;
    background:url(img/e.jfif) no-repeat center center/cover;
    height:60.5vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.7;
    margin-top: 1.5vh;
    /* box-sizing: border-box; */
#do .d::before{
    content: "";
    position:absolute;
    background:white;
    height:27vh;
    width: 55vw;
    z-index: -1;
    opacity: 0.4;
    margin-top: 23vh;
    margin-left: 40vw;
}
#do{
    align-content: center;
    justify-content:center;
    margin-bottom:15vh;
}
#do .h-primary{
    margin-left:60vw;
}
#do p{
    margin-left: 9vw;
    display:inline-block;
    font-size:1.3em;
    font-weight:bold;

}
#do img{
    display:inline-block;
    width:30%;
    margin-left:3vw;
    border-radius: 1em;
}
/* conduct section  */
#conduct::before{
    content: "";
    position:absolute;
    background:url(img/b.jpg)no-repeat center center/cover;
    height:115vh;
    width: 100vw;
    z-index: -1;
    opacity: 01;
    margin-top: 1.5vh;
    /* box-sizing: border-box; */
}
#conduct .s::before{
    content: "";
    position:absolute;
    background:white;
    height:91vh;
    width: 66vw;
    z-index: -1;
    opacity: 0.4;
    margin-top: 18vh;
    margin-left: 0vw;
}
#conduct li{
    font-size: 1.3em;
    list-style:disc ;
    font-weight: bold;
    color:black;
    font-size:1.3em;
    /* margin-top:2vh; */
    /* margin-bottom:3vh; */
    /* margin-left: 30vh; */
    /* list-style-position: inside; */
}
#conduct img{
    display:inline-block;
    width:70vh;
    height:90vh

}
#conduct ol{
    margin-left:4vh;
    display:inline-block;
    margin-bottom: 8vh;
}
/* below navbar color */
#last::before{
    background:rgb(104 69 185);
}
#home .h-primary mark{
    background-color:rgb(148, 140, 155);
    border-radius: 15px;
}